WEB_SERVER_URL=''
ENDPOINT_URL=''
CASE_BANK_URL='https://stg-bank.medii.jp'
INVITATION_URL='https://medii.jp/e-consult/invitation'

EX_WEB_DIR='/medii/e-consult-staging'
EX_API_DIR='/medii/e-consult-api-staging/api/v2'

NMO_URL=https://medical.nikkeibp.co.jp
WEB_SOCKET_URL=wss://stg-consult-socket.medii.jp

HUBSPOT_FORM_ID=''
HUBSPOT_PORTAL_ID=''
GOOGLE_CLIENT_ID = ''
