//===========================================================
// Colors
//===========================================================
$font-color-base: #333333 !default;
$bg-color-base: #eff3f6 !default;
$primary-color: #5c6bc0 !default;

//===========================================================
// Sizes
//===========================================================
$font-size-base: 16px !default;

//===========================================================
// Breakpoints（Based on Tailwind CSS）
//===========================================================
$sm: 640px !default;
$md: 768px !default;
$lg: 1024px !default;
$xl: 1280px !default;
$xxl: 1536px !default;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
) !default;

//===========================================================
// Z-Indexes
//===========================================================
$z-tooltip: 1010 !default;
$z-modal: 1100 !default;
