$font-family: Noto Sans JP,Avenir,Helvetica,Arial,sans-serif !default;

//===========================================================
// Colors
//===========================================================
$font-color-base: #333333 !default;
$bg-color-base: #eff3f6 !default;
$primary-color: #5c6bc0 !default;


//===========================================================
// Sizes
//===========================================================
$font-size-base: 1.6rem !default;
