// @import './utilities/reset.scss';
@import './utilities/variable.scss';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

:root {
  /* 100%  -> 16px ブラウザ標準ベースフォントサイズ */
  /* 62.5% -> 10px ベースフォントサイズを10pxに */
  font-size: 100%;
}

html {
  position: relative;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: $font-color-base;
  background-color: $bg-color-base;
  font-size: $font-size-base;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}





