@import "./utilities/variable.scss";

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* 100%  -> 16px ブラウザ標準ベースフォントサイズ */
  /* 62.5% -> 10px ベースフォントサイズを10pxに */
  font-size: 100%;
}

// Scroll bar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #dcdcdc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

html {
  position: relative;
}

body {
  color: $font-color-base;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

th,
td {
  vertical-align: baseline;
}

@font-face {
  font-family: SDSYuGothic;
  font-weight: 400;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: SDSYuGothic;
  font-weight: 700;
  src: local("Yu Gothic Bold");
}

@layer base{
  html {
    font-family: SDSYuGothic, system-ui, sans-serif;
  }
}

.list-circle {
  list-style-type:circle;
}

