.swiper-button-next {
  background-image: url(./../../public/images/seminar/swiper_button_next.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(./../../public/images/seminar/swiper_button_prev.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}