@import "../../../styles/utilities/variable.scss";
@import "../../../styles/functions/mixin.scss";

.amazon_gift_table {
  border-collapse: separate;

  thead {
    color: #999999;
    text-align: left;
  }

  th {
    padding-right: 20px;
  }

  td {
    font-size: 15px;
    padding: 4px 20px 4px 0;
  }
}
