@import "../../../styles/utilities/variable.scss";
@import "../../../styles/functions/mixin.scss";

.tooltip_sp {
  background-color: #ffffff;
  padding: 16px 16px;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.tooltip_sp_nav {
  width: 170px;
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
  &__heading {
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 6px;
  }
}

.tooltip_sp_menu {
  background-color: #eff3f6;
  padding: 4px 4px;
  border-radius: 4px;

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 4px 4px;
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    & > img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}
