.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.check_box {
  display: flex;

  &__label {
    padding-left: 22px;
    position: relative;
  }

  // チェックボックス枠
  &__label:before {
    content: "";
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 12px;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border: 2px solid #d7dae0;
    border-radius: 2px;
  }

  &__input:checked + &__label::before {
    background-color: #0758e4;
    border: 2px solid #0758e4;
  }

  &__input:checked + &__label::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
    width: 5px;
    height: 8px;
    transform: rotate(40deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  &__input:disabled + &__label::before {
    background-color: #f6f7f8;
    border-color: #d7dae0;
  }
}
