.select_box {
  flex: 1;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url("/icons/caret-down-fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }
}
